
/* -------------Background images------------ */
.container {
    margin: 0 0px;
}

.bgSpace {
    height: 40%;
}

.bgSea {
    height: 20vh;
    align-self: end;
}
.bgDown img, .bgUp img {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bgDown img {
    position: relative;
    left: 0;
    bottom: 0;
}

.bgSpace, .bgBigSpace, .bgSea {
    position: absolute;
    z-index: -1;
}

/* -----------------Header---------------- */
.header {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.headerText {
    font-size: 25px;
}


/* --------------------Homepage---------------- */


.homePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.stateliteHome img {
    height: 140px;
    margin-bottom: 50px;
}

.homeText{
    justify-self: center;
}
.homeText h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}
.homeText h3 {
    width: 50%;
}

.oceancat {
    display: flex;
    align-items: end;
    align-self: flex-end;
}

.blueDuga {
    display: flex;
    flex-direction: column;
}

.blueDuga p {
    color: #29CBEE;
}

.blueDuga img {
    align-self: end;
    position: relative;
    margin-right: -25px;
}

/* --------------------Quiz---------------- */
.bgBigSpace {
    height: 80vh;
}

.planetsImgs {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}

.planet {
    width: 5em;
    height: auto;
    position: relative;
}

.planet1 {
    width: 10em;
}

.planet2 {
    bottom: -5vw;
}

.planet3 {
    top: -5vw;
}

.planet4 {
    bottom: -3vw;
}

.planet4Wmoon {
    display: flex;
}
.moon {
    width: 1.5em;
    height: 1.5em;
    align-self: flex-end;
}

.planet5 {
    top: -9vw;
}

.planet6 {
    bottom: -5vw;
}

.planet7 {
    top: -5vw;
}

.planet8 {
    bottom: -5vw;
}

.oceanmeow {
    align-self: start;
    justify-self: start;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.meowsWords {
    height: 100px;
    width: 200px;
    position: relative;
    top: -100px;
}

/* ---------------Levels----------------- */
.levelTitle {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

.levelTop {
    display: flex;
    justify-content: space-between;
}

.levelPlanets {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.levelPlanets .secondPlanet {
    height: 100px;
}

.quizQuestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quizQuestions {
    width: 40vw;
}

.questionPhoto {
    height: 300px;
    border: 2px solid white;
}

.question {
    font-size: 25px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.answer {
    border: 1px solid white;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    color: white;
}

.next {
    margin-top: 30px;
    padding: 10px 25px;
    border: 1px solid #29CBEE;
    border-radius: 15px;
    color: #29CBEE;
}

/* ----------------profiles---------------- */
.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.profile {
    display: flex;
    flex-direction: column;

    background-color: #2465B5;
    border-radius: 25px;
    height: 250px;
    width: 450px;
    padding: 10px;
}

.profileTitle {
    height: 5%;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding-top: 5px;
}

.info {
    height: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.photo {
    width: 40%;
    height: 70%;
    align-self: center;
}

.profImage {
    position: relative;
    top: -20px;
}

.profImage img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.description {
    width: 50%;
    text-align: center;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.descBox {
    border-bottom: 1px solid white;
}

.descBox p {
    font-size: 16px;
}

.contacts {
    justify-self: start;
    align-self: flex-start;
}

.contact {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contact img {
    height: 20px;
    width: auto;
}

.stateliteInfo {
    display: flex;
    justify-content: space-between;
}

.meowWords3 {
    height: 150px;
    position: relative;
    right: -20px;
}

@media(max-width: 925px) {
    .statelite img {
        display: none;
    }
    .planet {
        width: 4em;
        height: auto;
        margin-top: 100px;
    }
    .planet1 {
        width: 150px;
        height: auto;
    }

    .oceanmascot {
        height: 100px;
        width: 110px;
        align-self: self-end;
    }
    .meowsWords {
        height: 50px;
        width: 110px;
        top: -50px;
    }
   
}

@media(max-width: 700px) {
    .headerText {
        font-size: 18px;
    }
    .homeText h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .homeText h3 {
        width: 80%;
        font-size: 12px;
    }

    .planet {
        width: 2em;
        height: auto;
    }
    .planet1 {
        width: 120px;
        height: auto;
    }
}

